{% extends '../index_master.html'%}
{% block content %}
<div class="right_col" role="main">
    <h1>Eliminar registro</h1> 
    <form action="Eliminar" method="POST">
        {% csrf_token%}

        <div class="form-group row">
            <label for="idregistro" class="col-4 col-form-label">ID de registro</label> 
            <div class="col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-key"></i>
                  </div>
                </div> 
                <input id="id" name="id" type="text" class="form-control" required="required">
              </div>
            </div>
          </div>
    </form>
    <div class="form-group row">
        <div class="offset-4 col-8">
          <button name="submit" type="submit" class="btn btn-primary">Eliminar Registro</button>
        </div>
      </div>
</div>
{% endblock %}